
<button class="colorClass" [class]="classesToApply">Add Class to be Applied</button>
<br /><br />
<button class="colorClass" [class.boldClass]='applyBoolean'>Apply Bold Class Test</button>
<br /><br />
<button class="colorClass" [ngClass]='addClasses()'>Apply Multi Class</button>

<!--<div>
    <h1>{{pageHeader }} - from Template Url</h1>
    <my-employee></my-employee>
    <img src='{{imagePath}}' />
    <h2>{{getFullName()}}</h2>
    <button [disabled]='isDisabled'>Property Binding Click Me !</button>

    <span [innerHtml]='pageHeader'></span>
    <span bind-innerHtml='pageHeader'></span>

    <div [innerHtml]='badHtml'></div>
    <br>
    <h1>HTML Attributes vs DOM Property</h1>
    <input id='inputId' value='Attribute Value' />
</div>-->